{% extends 'Base/base.html' %}
{% load bootstrap4 %}
{% block css_js %}
{% endblock %}
{% block content %}
<!--<div class="card" style="background-color: Gray;border-radius:10px;">-->
    <div class="row" style="margin-top: 20px">
        <div class="col-sm">
            <div class="col-12" >
                <div class="card" style="width:103%;max-width:600px;height: 700px;border-radius:10px">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title" style="font-size:20px;">والدین</h5>
                        <h5 style="font-size:20px; color:magenta;">{{ message }}</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" action="#">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}<br><br>
                                <p style=" float: left;width:25%">
                                    <a href="/{{pas}}" class="btn btn-outline-success" role="button">بازگشت <i style="width:10px;color: green" class="icon-prev position-left"></i></a>
                                </p>
                                <p style=" float: right;width: 75%">
                                    <button type="submit" name="student_add" class="btn btn-outline-success">افزودن <i style="width:10px;color: green" class="icon-add position-left"></i></button>
                                </p>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="col-12">
                <div class="card"style="width:100%;width:700px;height: 700px ;border-radius:10px ">
                    <div class="card-header header-elements-inline ">
                        <h5 class="card-title" style="font-size:20px;">لیست دانش آموزان شما</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" action="#">
                            {% csrf_token %}
                            <table class="table table-sm">
                                <thead>
                                    <tr class="table-active">
                                        <th scope="col">نام</th>
                                        <th scope="col">نام خانوادگی</th>
                                        <th scope="col">نام کاربری</th>
                                        <th scope="col">تغییرات</th>
                                    </tr>
                                </thead>
                                {%  for item in contents %}
                                    <tr>
                                        <td>{{ item.user.user.first_name }}</td>
                                        <td>{{ item.user.user.last_name }}</td>
                                        <td>{{ item.user.id }}</td>
                                        <td>
                                            <a href="{{ item.user.delete_link }}" class="btn btn-outline-danger" role="button"
                                               aria-pressed="true" onclick="return confirm('Are you sure?')"><i style="color: darkred" class="icon-trash position-left"></i></a>
                                            <a href="{{ item.user.update_link }}" class="btn btn-outline-success" role="button"><i style="color: greenyellow" class="icon-pencil position-left"></i></a>
                                        </td>
                                        <script>
                                            function myFunction() {
                                            if (window.confirm("Do you really want to leave?")) {
                                            window.location.replace("{{ item.delete_link }}");}
                                            }
                                        </script>
                                    </tr>
                                {% endfor %}
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <div class="pagination">
                                                <span class="step-links">
                                                    {% if contents.has_previous %}
                                                        <a href="?page=1"><i style="width:10px;color: green " class="icon-first"></i></a>
                                                        <a href="?page={{ contents.previous_page_number }}"><i style="width:10px;color: green " class="icon-previous"></i></a>
                                                    {% endif %}
                                                    <span class="current">
                                                        Page {{ contents.number }} of {{ contents.paginator.num_pages }}
                                                    </span>
                                                    {% if contents.has_next %}
                                                        <a href="?page={{ contents.next_page_number }}"><i style="width:10px;color: green " class="icon-next"></i></a>
                                                        <a href="?page={{ contents.paginator.num_pages }}"><i style="width:10px;color: green " class="icon-last"></i></a>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
{% endblock%}