{% extends 'Base/base.html' %}
{% load bootstrap4 %}
{% block css_js %}
{% endblock %}
{% block content %}
<!--<div class="card" style="background-color: Gray;border-radius:10px;">-->
    <div class="row" style="margin-top: 20px" >
    <div class="col-sm">
            <div class="col-12">
                <div class="card"style="width:100%;width:700px;height: 700px ;border-radius:10px ">
                    <div class="card-header header-elements-inline ">
                        <h5 class="card-title" style="font-size:20px;">لیست دانش آموزان مدرسه</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm">
                        <form method="post" action="#">
                        {% csrf_token %}
                            <thead>
                                <tr class="table-active">
                                    <th scope="col">نام</th>
                                    <th scope="col">نام خانوادگی</th>
                                    <th scope="col">نام کاربری</th>
                                    <th scope="col">تغییرات</th>
                                </tr>
                            </thead>
                            {%  for item in student %}
                                    <tr>
                                        <td>{{ item.user.first_name }}</td>
                                        <td>{{ item.user.last_name }}</td>
                                        <td>{{ item.user }}</td>
                                        <td>
                                            <button type="button"
                                                onclick="document.getElementById('demo').innerHTML = '{{ item.user }}'">
                                                Click me.<i style="color: darkred" class="icon-add position-left"></i>
                                            </button>
                                        </td>
                                    </tr>
                            {% endfor %}
                             <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <div class="pagination">
                                                <span class="step-links">
                                                    {% if page_obj.has_previous %}
                                                        <a href="?page=1">&laquo; first</a>
                                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                                    {% endif %}
                                                    <span class="current">
                                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                                    </span>
                                                    {% if page_obj.has_next %}
                                                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                                                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                            </tfoot>
                        </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm" >
            <div class="col-12" >
                <div class="card" style="width:103%;max-width:600px;height: 700px;border-radius:10px">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title" style="font-size:20px;">رانندگان سرویس</h5>
                    </div>
                    <div class="card-body">
                    <form method="post" action="#">
                    {% csrf_token %}
                    {% bootstrap_field form.last_name %}
                        <select class="form-control" type="text" placeholder="Search" aria-label="Search">
                            <option value="1" disabled selected>راننده سرویس مورد نظر را انتخاب کنید</option>
                            {% for item in driver %}
                                <option value={{item.id}}>{{ item.user.first_name}} {{ item.user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->

{% endblock%}

